body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilo para el formulario */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Estilo para el encabezado del formulario */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilo para la imagen */
  img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Estilo para los campos de entrada */
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el botón de inicio de sesión */
  input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  /* Estilo para el enlace de registro */
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* Estilo para el enlace dentro del párrafo */
  p a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  /* Cambio de estilo para el enlace al pasar el cursor sobre él */
  p a:hover {
    text-decoration: underline;
  }